html {
    box-sizing: border-box;
}
   body {
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
    background-color:bisque; 
}
.conteiner {
    max-width: 60%;
    margin: auto;
}
.header {
    padding: 50px;
}
h1 {
    text-align: center;
}

.header_text {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid rgb(129, 94, 83); 
    background-color: rgb(193, 155, 142);
    cursor: pointer;
}
.accordion {
    width: 100%;
    padding-top: 20px;
}

img {
    display: block;
    margin: auto;
    width: 60%;
    padding-top: 20px;
}
div > span{
    font-size: 2rem;
}

input {
    display: none;
}

/* input ~ img {
    display: none;
} 


input:checked ~ img,
label:hover img {
    display: block;
    margin: 0 auto;
}  */



input ~ img {
    display: block;
    margin: 0 auto;
    width: 0;
    transition: all ease-out 0.5s;
   }

   input:checked ~ img,
   label:hover .img_mem {
    display: block;
    margin: 0 auto;
    width: 50%;
   }
   
   label:hover .minus,
   input:checked ~ .header_text .minus {
    display: block;
   }
   
   label:hover .plus,
   input:checked ~ .header_text .plus {
    display: none;
   }

   .plus,
   .minus {
    width: 2em;
   }
   
   .minus {
    display: none;
   }



footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px
}
.footer-data{
    display: flex;
    gap: 20px;
}
.footer-data > span{
    font-size: 1rem;
}
.link {
    text-decoration: none;
    color: #010201;
}