html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
   body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color:bisque; 
   }
.conteiner {
    max-width: 60%;
    margin: auto;
}
.header {
    padding: 50px;
}
h1 {
    text-align: center;
}

.mem_img {
    display: block;
    margin: auto;
    width: 60%;

}